[submodule "aws-cdk/Fovus-Frontend"]
	path = aws-cdk/Fovus-Frontend
	url = https://github.com/asmaknikar/Fovus-Frontend.git
[submodule "Fovus-Frontend"]
	path = Fovus-Frontend
	url = https://github.com/asmaknikar/Fovus-Frontend.git
